<div>
    <mat-card class="card">
        <div class="content">
            <div class="span-selector">
                <mat-button-toggle-group>
                    <mat-button-toggle value="day" (change)="onChange($event.value)">day</mat-button-toggle>
                    <mat-button-toggle value="week" (change)="onChange($event.value)">week</mat-button-toggle>
                    <mat-button-toggle value="month" (change)="onChange($event.value)">month</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-card>
</div>